img {
    width: 400px;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    margin: 1rem;
    border: 1px solid black;
    text-align: center;
}